body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* center the h1 and the button container */
}

h1 {
  margin-top: 0; /* remove default margin */
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* center the buttons */
}

.button {
  margin: 0 10px; /* add some space between the buttons */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0062cc;
}

p {
  text-align: center;
}

label {
  display: inline-block;
  text-align: left;
}


.pitching-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 97%;
  position: relative;
  border-radius: 5px;
}

.pitching-table {
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
  table-layout: auto;
}

.batting-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.batting-table {
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
  table-layout: auto;
}



 .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
 }
 .search-box label {
    margin-right: 5px;
 }
 .form-control {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

 .dataTables_filter {
  display: none;
 }

.search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  margin-bottom: 25px;
}

.search-box input {
  border: 1px solid #ddd;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
}

.teams {
  margin-bottom: 10px;
}

.dropdown {
  width: 200px;
}