body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #a0e0ff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* center the h1 and the button container */
}

h1 {
  margin-top: 0; /* remove default margin */
}

h2 {
  margin-left: 25px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* center the buttons */
}

.button {
  margin: 0 10px; /* add some space between the buttons */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0062cc;
}

p {
  text-align: center;
}

label {
  display: inline-block;
  text-align: left;
}

.table-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  border-radius: 0px 5px 5px 5px;
}

.table {
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  margin: 25px;
  table-layout: auto;
}

 .table-header {
    display: flex;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
 }
 .search-box label {
    margin-right: 5px;
 }
 .form-control {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
 }

 .dataTables_filter {
  display: none;
 }

 .dataTables_info {
     margin-left: 10px;
 }

 .dataTables_length {
     margin-left: 10px;
 }

.search-box {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.search-box input {
  border: 1px solid #ddd;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
}

.year-dropdown {
    margin-left: 10px;
}

.year-dropdown select {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.teams {
  margin-bottom: 10px;
}

.dropdown {
  width: 200px;
}

.base {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.stats {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.teamAndYear {
  margin-left: 25px;
}

.allPlayers {
  margin-left: 25px;
}

.allYears {
  margin-left: 25px;
}

.buttonAll {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonAll:hover {
  background-color: #0062cc;
}

.players {
  margin-left: 25px;
}

.player-table {
  margin-left: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  table-layout: auto;
}

.stint {
  margin-left: 25px;
}

.stat-tab {
  margin-right: 5px;
  padding: 10px;
  background-color: #e0e0e0;
  color: #000;
  border: round;
  border-style: solid solid none solid;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;     
  font-size: 24px;
  position: relative;
  z-index: 0;
}

.stat-tab-selected {
  margin-right: 5px;
  padding: 10px;
  background-color: #ffffff;
  color: #000;
  border: round;
  border-style: solid solid none solid;
  border-color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  cursor: normal;
  font-size: 24px;
  position: relative;
  z-index: 1;
}
 
.stat-tab:hover {
    background-color: #c0c0c0;
}

.table-div {
    margin-top: 0px;
}

.page-bar {
  margin-bottom: 0px;
  background-color: #ffffff;
}

.app-title {   
    margin-left: 25px;
    margin-top: 5px;
    font-size: 20px;
    margin-right: 10px;
}

.page-tab {
    margin: 0px;
    margin-top: 10px;
    padding: 5px;
    background-color: #ffffff;
    color: #000;
    border: round;
    border-style: solid solid none solid;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    font-size: 16px;
}

.page-tab:hover {
    background-color: #e0e0e0;
}

.tab-base {
    margin-top: 0px;
}

.logout-button {
    margin: 0px;
    margin-top: 10px;
    padding: 5px;
    background-color: #ffffff;
    color: #000;
    border: round;
    border-style: solid solid none solid;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 25px;
}

.logout-button:hover {
    background-color: #e0e0e0;
}

.base {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.stats {
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.teamAndYear {
  margin-left: 25px;
}

.allPlayers {
  margin-left: 25px;
}

.allYears {
  margin-left: 25px;
}

.buttonAll {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonAll:hover {
  background-color: #0062cc;
}

.players {
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.player-table {
  margin-left: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1);
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 10px;
  margin-right: 25px;
  width: 97%;
}

.stint {
  margin-left: 25px;
}

.player-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.stint {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.player-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.player-table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
