{% extends "base.html" %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <div class="table-header">
        <button class="stat-tab-selected"><b>Total Requests: </b>{{ count }}</button>
    </div>
    <div class="table-wrapper">
      <div class="search-box">
         <label for="search">Search:</label>
         <input type="text" id="search" class="form-control">
      </div>
      <table id="table">
         <thead>
            <tr>
               <th class="filterable" style="text-align: left">User</th>
               <th class="filterable" style="text-align: left">Team</th>
               <th class="filterable" style="text-align: left">Year</th>
               <th class="filterable" style="text-align: left">Request Time</th>
            </tr>
         </thead>
         <tbody>
            {% for request in requests %}
            <tr>
               <td><b>{{ request[0] }}</b></td>
               <td>{{ request[1] }}</td>
               <td>{{ request[2] }}</td>
               <td>{{ request[3] }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <script>
     $(document).ready(function() {
         var table = $('#table').DataTable({
         "paging": true,
         "pageLength": 25,
         "lengthMenu": [[10, 25, 50, 100, 250, -1], [10, 25, 50, 100, 250, "All"]]
      });

         $('#search').on('keyup', function() {
            table.search($(this).val()).draw();
         });
      });
   </script>
{% endblock %}
