{% extends "base.html" %}

{% block content %}
   <h1 class="allPlayers">{{ title }}</h1>
   
   <form action="{{ url_for('home') }}" method="post">
   <div class="all">
      <h2>Someone still has to make this dropdown actually work. Also I don't know why the "All" Pages always render twice</h2>
      <div class="allYears">
        <label for="year">Year:</label>
        <select id="year" name="year" class="dropdown" onchange="getYears(this.value)">
            {% for year in years %}
              <option value="{{ year[0] }}">{{ year[0] }}</option>
            {% endfor %}
        </select>
      </div>
      <button type="submit" name="submit" class="buttonAll">Submit</button>
   </div>
   <hr>
   {% block stats %}{% endblock %}
{% endblock %}
