{% extends "all.html" %}

{% block stats %}
   <h2>Pitching</h2>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
   <div class="pitching-wrapper">
      <div class="search-box">
         <label for="pitching-search">Search:</label>
         <input type="text" id="pitching-search" class="form-control">
      </div>
   <table id="pitching-table">
      <thead>
           <tr>
              <th class="filterable" style="text-align: left">Player</th>
              <th class="filterable" style="text-align: left">G</th>
              <th class="filterable" style="text-align: left">GS</th>
              <th class="filterable" style="text-align: left">IP</th>
              <th class="filterable" style="text-align: left">WHIP</th>
              <th class="filterable" style="text-align: left">SO/9</th>
              <th class="filterable" style="text-align: left">ERA</th>
           </tr>
      </thead>
      <tbody>
         {% for player in players %}
         <tr>
            <td>
               <a href="{{ url_for('player', playerid=player[0]) }}">
                  <b>{{ player[1] }}</b>
               </a>
            </td>
            <td>{{ player[2] }}</td>
            <td>{{ player[3] }}</td>
            <td>{{ player[4] }}</td>
            <td>{{ player[5] }}</td>
            <td>{{ player[6] }}</td>
            <td>{{ player[7] }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   </div>
   <script>
      $(document).ready(function() {
         var table = $('#pitching-table').DataTable();

         $('#pitching-search').on('keyup', function() {
            table.search($(this).val()).draw();
         });
      });
   </script>
{% endblock %}
