{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Background Select</h1>
        <div class="year-dropdown">
            <label for="team">Select your favorite team:</label>
            <select id="team" name="team" class="dropdown" onchange="window.location.href='{{ url_for('update_team', team='') }}' + document.getElementById('team').value">
                <option value="NUL"> </option>
                <option value="DBG">Default Background</option>
                {% for team in teams %}
                <option value="{{ team[0] }}">{{ team[0] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
