<!doctype html>
<html>
   <head>
   {% if title %}
      <title>{{ title }} - Little League</title>
   {% else %}
      <title>Welcome to Little League</title>
   {% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
      <div class="page-bar">
         {% if current_user.username == "bryce-37" %}
            <b class="app-title">Little League Admin </b>
         {% else %}
            <b class="app-title">Little League </b>
         {% endif %}
         <a href="{{ url_for('home') }}"><button class="page-tab">Team Select</button></a>
         <a href="{{ url_for('allPitchers') }}"><button class="page-tab">All Pitchers</button></a>
         <a href="{{ url_for('allBatters') }}"><button class="page-tab">All Batters</button></a>
         {% if current_user.username == "bryce-37" %}
            <a href="{{ url_for('admin') }}"><button class="page-tab">User Queries</button></a>
         {% endif %}
         <a href="{{ url_for('logout') }}"><button class="logout-button">Log Out</button></a>
      </div>
      <hr class="tab-base">
      {% block content %}{% endblock %}
   </body>
</html>
