{% extends "team.html" %}

{% block stats %}
   <h2>Batting</h2>
   <table>
      <tr>
         <th>Player</th>
         <th>G</th>
         <th>P</th>
         <th>C</th>
         <th>1B</th>
         <th>2B</th>
         <th>3B</th>
         <th>SS</th>
         <th>LF</th>
         <th>CF</th>
         <th>RF</th>
         <th>AVG</th>
         <th>OBP</th>
         <th>SLG</th>
      </tr>
      {% for player in players %}
      <tr>
         <td><b>{{ player.name }}</b></td>
         <td>{{ player.b_G }}</td>
         <td>{{ player.f_P }}</td>
         <td>{{ player.f_C }}</td>
         <td>{{ player.f_1B }}</td>
         <td>{{ player.f_2B }}</td>
         <td>{{ player.f_3B }}</td>
         <td>{{ player.f_SS }}</td>
         <td>{{ player.f_LF }}</td>
         <td>{{ player.f_CF }}</td>
         <td>{{ player.f_RF }}</td>
         <td>{{ player.b_AVG }}</td>
         <td>{{ player.b_OBP }}</td>
         <td>{{ player.b_SLG }}</td>
      </tr>
      {% endfor %}
   </table>
{% endblock %}
