{% extends "team.html" %}

{% block stats %}
   <h2>Batting</h2>
   <table>
      <tr>
         <th>Player</th>
         <th>P</th>
         <th>C</th>
         <th>1B</th>
         <th>2B</th>
         <th>3B</th>
         <th>SS</th>
         <th>LF</th>
         <th>CF</th>
         <th>RF</th>
         <th>OF</th>
         <th>AVG</th>
         <th>OBP</th>
         <th>SLG</th>
      </tr>
      {% for player in players %}
      <tr>
         <td>
            <a href="{{ url_for('player', playerid=player[0], table='2') }}">
               <b>{{ player[1] }}</b>
            </a>
         </td>
         <td>{{ player[5] }}</td>
         <td>{{ player[6] }}</td>
         <td>{{ player[7] }}</td>
         <td>{{ player[8] }}</td>
         <td>{{ player[9] }}</td>
         <td>{{ player[10] }}</td>
         <td>{{ player[11] }}</td>
         <td>{{ player[12] }}</td>
         <td>{{ player[13] }}</td>
         <td>{{ player[14] }}</td>
         <td>{{ player[2] }}</td>
         <td>{{ player[3] }}</td>
         <td>{{ player[4] }}</td>
      </tr>
      {% endfor %}
   </table>
{% endblock %}
