<!DOCTYPE html>
<html>
<head>
	<title>Create Account - Little League</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            background-image: url(/../static/image/mlb.jpg);
            background-size: 640px 360px;
        }
    </style>
</head>
<body>
   <div class='container'>
		<h1>Create Little League Account</h1>
		<form action='' method='post' novalidate>
         {{ form.hidden_tag() }}
         <p> 
            {{ form.nameF.label }}<br>
            {{ form.nameF(size=32) }}<br>
            {% for error in form.nameF.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <p>
            {{ form.nameL.label }}<br>
            {{ form.nameL(size=32) }}<br>
            {% for error in form.nameL.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         <p>
            {{ form.passwordConf.label }}<br>
            {{ form.passwordConf(size=32) }}<br>
            {% for error in form.passwordConf.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
         {% if message %}
            <div class="alert alert-danger" style="color: red; text-align: center">{{ message }}</div>
         {% endif %}
         <p type='submit'>{{ form.submit(class_="button") }}</p>
		</form>
		<p>Already have an account? <a href="/login">Login</a>.</p>
	</div>
</body>
</html>
