{% extends "base.html" %}    

{% block content %}
   <div class="container">
         <h1>Home Base</h1>
         <form action="{{ url_for('home') }}" method="post">
          <label for="team">Team:</label>
          <select id="team" name="team" onchange="getYears(this.value)">
              {% for team in teams %}
                <option value="{{ team[0] }}">{{ team[0] }}</option>
              {% endfor %}
          </select>
          <script>
        function getYears(team) {
          var xhr = new XMLHttpRequest();
          xhr.open('GET', '/years/' + team);
          xhr.onload = function() {
            if (xhr.status === 200) {
              var years = JSON.parse(xhr.responseText);
              var yearSelect = document.getElementById('year');
              yearSelect.innerHTML = '';
              years.forEach(function(year) {
                var option = document.createElement('option');
                option.text = year;
                option.value = year;
                yearSelect.add(option);
              });
            } else {
              console.log('Request failed.  Returned status of ' + xhr.status);
            }
          };
          xhr.send();
        }
        getYears(document.getElementById('team').value)
        </script>
          <label for="year">Year:</label>
          <select id="year" name="year"></select><br><br>
          <button type="submit" name="submit">Submit</button>
        </form>
      </div>
{% endblock %}
