<!doctype html>

<html>
   <head>
      <title>Login - Little League</title>
      <meta charset="UTF-8">
	   <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
      <style>
        body {
            background-image: url(/../static/image/mlb.jpg);
            background-size: 640px 360px;
        }
      </style>
   </head>
   <body>
      <div class='container'>
         <h1>Little League Login</h1>
         <form action='' method='post' novalidate>
            {{ form.hidden_tag() }}
            <p>
               {{ form.email.label }}<br>
               {{ form.email(size=32) }}<br>
               {% for error in form.email.errors %}
               <span style="color: red;">{{ error }}</span>
               {% endfor %}
            </p>
            <p>
               {{ form.password.label }}<br>
               {{ form.password(size=32) }}<br>
               {% for error in form.password.errors %}
               <span style="color: red;">{{ error }}</span>
               {% endfor %}
               {% if message %}
               <div class="alert alert-danger" style="color: red; text-align: center">{{ message }}</div>
               {% endif %}
            </p>
            <p type='submit'>{{ form.submit(class_="button") }}</p>
         </form>
         <p>Don't have an account? <a href="/createAccount">Create Account</a>.</p>
      </div>
   </body>
</html>
