{% extends "team.html" %}

{% block stats %}
   <h2>Pitching</h2>
   <table>
      <tr>
         <th>Player</th>
         <th>G</th>
         <th>GS</th>
         <th>IP</th>
         <th>WHIP</th>
         <th>SO/9</th>
      </tr>
      {% for player in players %}
      <tr>
         <td>
            <a href="{{ url_for('player', playerid=player[0], table='1')  }}">
               <b>{{ player[1] }}</b>
            </a>
         </td>
         <td>{{ player[2] }}</td>
         <td>{{ player[3] }}</td>
         <td>{{ player[4] }}</td>
         <td>{{ player[5] }}</td>
         <td>{{ player[6] }}</td>
      </tr>
      {% endfor %}
   </table>
{% endblock %}

