{% extends "base.html" %}

{% block content %}
   <h2>{{ stints[0][0] }}</h2>
   {% for stint in stints %}
      <a href="{{ url_for('pitching', teamID=stint[8], year=stint[2]) }}">
         <h3>{{ stint[1] }} - {{ stint[2] }} Season</h3>
      </a>
      <table>
         <tr>
            <th>Games</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>SLG</th>
            <th>ERA</th>
         </tr>
         <tr>
            <td>{{ stint[3] }}</td>
            <td>{{ stint[4] }}</td>
            <td>{{ stint[5] }}</td>
            <td>{{ stint[6] }}</td>
            <td>{{ stint[7] }}</td>
         </tr>
      </table>
   {% endfor %}
{% endblock %}
